recursive-include po *
recursive-include yali4/user_faces *
recursive-include yali4/gui/pics *
recursive-include yali4/gui/slideshow *
recursive-include yali4/gui *.ui
include . AUTHORS COPYING README

